*{
    padding:0;
    margin:0;
    font-family: 'Inter', sans-serif;
}
header{
    background-color: #523366;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
}
header h1{
    color: white;
    margin-left: 30px;
}
header a{
    color: white;
    gap: 5px;
    text-decoration: none;
    margin-right: 30px;
    font-size: 1.3em;
}
header a:hover{
    text-decoration: underline;
    color: rgb(214, 201, 201);
}